<!DOCTYPE html>
<html>
<head>
  <title>Issues</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
 <!--<%= auto_discovery_link_tag(:rss,issues_path(:rss)) %> for displaying rss icon pn the address bar-->
</head>
<body>
<ul>
	<li><a href="/timeline/index"><%=t "nav.timeline" %></a></li>
	<li> <a href="/issues"><%= t "nav.issues.list"%></a></li>
	<li> <a href="/issues/new"><%= t "nav.issues.new"%></a></li>
	<%= yield :nav %>
</ul>

<%= yield %>
<footer>
&copy The App
</footer>
</body>
</html>
